<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home1"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Contact Us</ion-title>
    <ion-buttons slot="end" class="end-icon-btn ion-padding-end">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <ion-img src="../../assets/ic_launcher_foreground.png" class="img-icon"></ion-img>
  <ion-label>Cosmo Ecosystem Care LLP</ion-label><br><br>
  <ion-label>Call: +91-78598 77780</ion-label><br><br>
  <ion-label>Email: ccare@cecllp.in</ion-label><br><br><br><br>
  <ion-label>Head Office:</ion-label> <br><br>
  <ion-label>
    203, Supath, Opp.Rasranjan Sweet Mart, <br>
    Vijay Cross Road, Navrangpura, <br>
    Ahmedabad-380009 <br>
    Gujarat,India 
  </ion-label>
</ion-content>