
.logo{
    size: 50px;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.rowstyle{
    background-color: lightpink;
    padding-left: 18px;
    border-radius: 30px;
    margin: 20px;
    
    ion-icon{
        margin-top: 11px;
    }
}

