.text-align-center {
    font-size: larger;
    font-weight: bold;
    padding-top: 10px;
    color: #333333;
}

.quantity-tag {
    margin-top: -10px;
    font-size: medium;
}

span {
    font-size: smaller;
}

