<ion-app>
  
<ion-menu side="start" menuId="custom">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Hello Riya</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item >My Profile</ion-item>
        <ion-item href="/">Home</ion-item>
        <ion-item href="/product">Smart Basket</ion-item>
        <ion-item>My Orders</ion-item>
        <ion-item>Wallet</ion-item>
        <ion-item>logout</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
