<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button id="content"></ion-menu-button>
          <!-- <ion-back-button defaultHref="/home1"></ion-back-button> -->
        </ion-buttons>
    <ion-title class="ion-text-center">My Profile</ion-title>
    <ion-buttons slot="end" (click)="cartBtn()">
        <ion-icon name="cart" class="end-icon-btn ion-padding-end"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item> 
      <ion-label class="ion-text-wrap"> Name: &nbsp; {{ user.name }} </ion-label>
    </ion-item>
    <ion-item> 
        <ion-label class="ion-text-wrap"> E-mail: &nbsp; {{ user.email }}</ion-label>
    </ion-item>
    <ion-item> 
        <ion-label class="ion-text-wrap"> Phone No: &nbsp; {{ user.phone }} </ion-label>
    </ion-item>
    <ion-item> 
        <ion-label class="ion-text-wrap"> Flat: &nbsp; {{ user.flat }}</ion-label>
    </ion-item>
    <ion-item> 
        <ion-label class="ion-text-wrap"> Building: &nbsp; {{ user.building }}</ion-label>
    </ion-item>
    <ion-item> 
        <ion-label class="ion-text-wrap"> Area: &nbsp; {{ user.area }}</ion-label>
    </ion-item>
    <ion-item> 
        <ion-label class="ion-text-wrap"> City: &nbsp; {{ user.city }} </ion-label>
    </ion-item>
    <ion-item> 
        <ion-label class="ion-text-wrap"> State: &nbsp; {{ user.state }}</ion-label>
    </ion-item>
    <ion-item> 
        <ion-label class="ion-text-wrap"> Pin Code: &nbsp; {{ user.pincode }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="full" color="primary" (click)="profile()">Edit Profile</ion-button>
</ion-content>
