<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button id="custom"></ion-menu-button>
        </ion-buttons>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="end" name="cart">
        <ion-icon name="cart" size="large" ></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
    <ion-item>Name : Riya </ion-item>
    <ion-item>E-mail: riya.harsh@gmail.com</ion-item>
    <ion-item>Gender: Female</ion-item>
    <ion-item>Address: D1-53, Snehdhara Scociety, Vile Parle West</ion-item>
    <ion-item>Phone Number: 227783239</ion-item>
    <ion-item>Change Password</ion-item>
  </ion-list>
</ion-content>
