<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button id="content"></ion-menu-button>
      </ion-buttons>
    <ion-title class="ion-text-center">Products</ion-title>
    <ion-buttons slot="end" (click)="addToCart()">
      <ion-icon name="cart" class="end-icon-btn ion-padding-end"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-searchbar showcancelbutton='focus'></ion-searchbar>

<ion-content class="ion-padding-bottom">
  <div *ngIf="cproducts.length == 0">
    <ion-label ><h5 class="text-muted">No Products to Show</h5></ion-label>
  </div>
  <div *ngIf="cproducts.length > 1" class="padding-bottom">
  <ion-label ><h5 class="text-muted">Total {{cproducts.length}} products</h5></ion-label>
    <ion-list *ngFor="let prod of cproducts" class="prodList">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="{{prod.image}}">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">{{ prod.name }} <b>&#8377; {{prod.sp}}</b></ion-label>
        <ion-grid>
          <ion-row>
          <ion-col>
            <ion-button id="minusBtn" color="dark" (click)="onMinus(prod.uid)">{{minus}}</ion-button>
          </ion-col>
          <ion-col id="qtyShow" offset="1.25" style="margin-top: 9px;">{{prod.qty}}</ion-col>
          <ion-col>
            <ion-button id="plusBtn" color="dark" (click)="onPlus(prod.uid)">{{plus}}</ion-button>
          </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer style="padding: 5px;">
  <ion-button expand="full" (click)="addToCart()" >
    Add to Cart
    <ion-icon name="cart" slot="start"></ion-icon>
  </ion-button>
</ion-footer>
