<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="custom"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" name="cart">
      <ion-icon name="cart" size="large" ></ion-icon>
    </ion-buttons>
    <ion-title>
      HMS app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-slides [options]="sliderOpts">
    <ion-slide *ngFor="let img of abc">
        <img src="../../assets/{{ img }}" tappable (click)="openPreview(img)" >
    </ion-slide>

  </ion-slides>


</ion-content>