<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div>
    <ion-card (click)="viewOrder()">
      <ion-card-header>
        <ion-card-title>January 21, 2020 at 12:35:46 AM</ion-card-title>
        <ion-card-subtitle><ion-icon name="checkmark"></ion-icon> Order Placed</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Total items: 2 <br> Total Amount: &#8377; 96</ion-label>
      </ion-card-content>
    </ion-card>
  </div> -->
  <div *ngIf="ordersList.length == 0">
    <ion-label ><h5 class="text-muted">No Products to Show</h5></ion-label>
  </div>
  <div *ngIf="ordersList.length > 0">
    <ion-card *ngFor="let ord of ordersList.reverse()" (click)="viewOrder(ord.uid, ord.timestamp)">
      <ion-card-header>
        <ion-card-title class="ion-padding-end">
          <span class="ion-float-left">{{ord.timestamp.toDate() | date:'MMMM dd, yyyy'}}</span>
          <span class="ion-float-right">{{ord.timestamp.toDate() | date:'hh:mm a'}}</span>
        </ion-card-title><br><br>
        <ion-card-subtitle *ngIf="ord.status === 'placed'">
          <ion-icon name="checkmark" color="success"></ion-icon> 
          Order {{ord.status}} 
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="ord.status === 'cancelled'">
          <ion-icon name="close" color="danger"></ion-icon> 
          Order {{ord.status}} 
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Total items: {{ord.total_items}} <br> Total Amount: &#8377; {{ord.total_amt}}</ion-label>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
